.text-center{
  text-align: center;
}

.payers-container{
  display: flex;
  justify-content: space-around;
}

.player-title{
  font-size: 30px;

}
.current-player-text{
  font-size: 30px;
}
.reset-btn{
  background-color: #b3daf0;
  font-size: 20px;
  border-radius: 20px;
  border: none;
  padding: 10px 100px;
  display:block;
  margin:20px auto;
}
.winneer-text{
  text-align: center;
  font-size: 30px;
  background-color: #fff;
  width: fit-content;
  display: block;
  margin: 20px auto;
  padding: 10px 200px;
}

.row{
  display: flex;
  justify-content: center;
}
.board{
  display: block;
  margin: 20px auto;
  background-color: #ff8080;
  width: fit-content;
  padding:10px;
  border-radius: 5px;
}

.box{
  background-color: #fff;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
}
.box:hover{
 cursor: pointer;
 transition: 0.5s;
 box-shadow: 0 0 15px 4px #b3daf0;
 border:1px solid #84b7e8;
 z-index:100;
}