.text-center{
  text-align: center;
}

.row{
  display: flex;
  justify-content: center;
}
.board{
  display: block;
  margin: 20px auto;
  background-color: #ff8080;
  width: fit-content;
  padding:10px;
  border-radius: 5px;
}

.box{
  background-color: #fff;
  border: 1px solid gray;
  width: 100px;
  height: 100px;
}
.box:hover{
 cursor: pointer;
 transition: 0.5s;
 box-shadow: 0 0 15px 4px #b3daf0;
 border:1px solid #84b7e8;
 z-index:100;
}